
footer{
    background-color: darkgray;
}

.familiatexto{
    color: ghostwhite;
    text-align: center;
    font-style: normal;
}

.imagenfondo{
    background-image: url(https://www.markas.my/image/markas/image/cache/data/slideshow/2020/iTkqwB431579111845-1900x635.jpg);
    height: 640px;
    background-repeat: no-repeat;
}

